@charset "UTF-8";

.mushra-container {
    text-align: center;
}

.mushra-table {

    table-layout: fixed;
    padding: 0;

    width: 95%;
    margin-left: 2.5%;
    font-size: 0.7em;
    border-collapse:collapse;


    @media only screen and (min-width: $breakpoint) {
        font-size: 1em;
    }

    @media only screen and (min-width: $breakpoint-large) {
        font-size: 1em;
    }
}

.mushra-table th {
    color: $heading-font-color;
    border: 1px solid black;
}

.mushra-slider-container {
    text-align: center;
    display: table;
    margin: 0px auto;
    width: 100%;
};

.mushra-slider-container .ui-slider-track {
    width: 95%;
    margin-left: 2.5%;
    pointer-events:none !important;
}

.mushra-slider-container .slider-handle-active {
    background-color: $dark !important;
    color: $white !important;
}
.mushra-slider-container .ui-slider-track a {
    pointer-events:auto !important;
}
