{% assign config = site.data[page.config_file] %}


<ul class="soundboard-container">
 
<button class="soundboard-stop" data-inline="true">Stop</button>

{% for row in config.rows %}

<p> {{ row.name }} </p>

<li>

{% for sound in row.sounds %}

<button class="soundboard-play" data-inline="true">{{ sound.button_label }}</button>

{% endfor %}

</li>

{% endfor %}

</ul>

<script type="text/javascript">

$('#id-{{ page.url  | slugify}}').on('pageshow', function() {

    var config = JSON.parse('{{ config | jsonify}}');
    config.siteURL = "{{ site.url }}";

    var board = new Soundboard(config);
});

</script>
