@charset "UTF-8";

// Headers
h1,
h2,
h3 {
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}

div.ui-content {

    color: $font-color;
	font-family: $font-style;

	font-family: $font-style;
	line-height: 1.6;
    padding: 0;

    width: 90%;
    margin-left: 5%;

    @media only screen and (min-width: $breakpoint) {
        width: 60%;
        margin-left: 20%;
        margin: 0px auto;
    }

    @media only screen and (min-width: $breakpoint-large) {
        width: 50%;
        margin-left: 25%;
        margin: 0px auto;
    }
}
