@charset "UTF-8";

$cyan: #19CCAA;
$white: #ffffff;
$dark: #3d3c3c;
$font-style: 'Open Sans', sans-serif;
$heading-font: 'Muli', sans-serif;
$font-color: black;
$heading-font-color: $cyan;
$breakpoint: 768px;
$breakpoint-large: 1140px;
